*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    width: 1300px;
    height: 1080vh;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img.jpg);

}